<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#main" id="skipping">Skip To Content</a>

  <header>
    <nav class="navbar">
      <div id="home" class="logo">
        <a href="/" >Restoory</h1>
      </div>

      <ul class="menu_list">
        <li><a href="/">Home</a></li>
        <li><a href="/">About Me</a></li>
        <li><a href="/" class="box-green">Favorites</a></li>
      </ul>

      <a id="hamburger" href="#" class="header_menu">☰</a>
    </nav>

  </header>

  <main id="main">
    <div class="content">
      <article class="hero">
        <img src="../images/heros/hero-image_2.jpg">

        <div class="hero-section">
          <p>Explore all restourants of the world with us.</p>
          <h2>Never <span class="caption">Stop</span> Exploring <br>The World.</h2>
        </div>
      </article>
  
      <article id="articles">
        <p class="desc-container">OUR BEST MENU</p>
        <h2 class="title-container">Selected from a perfect ingredients, and made by as<br>experienced chef.</h2>

        <div class="article-container">
            
        </div>
      </article>
    </div>

  </main>

  <!-- Footer -->
  <footer>
    <div class="footer-text">
        Copyright © Since 2023 
        <a href="#" target="_blank">Restoory</a> All Rights Reserved | Made with 
        <img alt="love" src="../images/love.png" title="love"> in Indonesia
    </div>
  </footer>
</body>
</html>
